

# Base Utils
base
base-devel
wget
openssh
network-manager
man-db
polkit
reflector
xdg-utils

# Kernel level
linux
linux-headers
linux-lts
linux-lts-headers
mesa
intel-ucode

#Booting
grub
efibootmgr

#files
dosfstools
mtools

# Core Utils
neovim
feh
expac
zsh
python-pip
unzip


# Sound
alsa-utils
pipewire
pipewire-alsa
pipewire-pulse
pavucontrol

# Bluetooth 
bluez
bluez-utils
blueman-manager

# Display
wayland
xorg-xwayland
sway
swaybg
swayidle
swaylock
wayvnc
wl-clipboard

# Customisation
waybar
rofi
ttf-font-awesome
ttf-liberation
dunst
mpd
lxappearance-gtk3
papirus-icon-theme
arc-gtk-theme

# General Apps
alacritty
pcmanfm
firefox
discord
nextcloud-client
github-clipboard
